body,
#main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
#main {
  width: 700px;
}
#tab-control,
#search-container,
#select-file,
#footer {
  display: flex;
}
#select-file {
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
#search-container {
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
#search-container,
#search-container input[type="text"] {
  width: 100%;
}
#tab-control {
  margin-top: 20px;
  width: 100%;
}
.tab-button {
  background: #dfdfdf;
  padding: 10px 40px;
  border: 1px #888 solid;
  width: 50%;
  text-align: center;
}
.tab-button:hover {
  background: #c5c5c5;
  cursor: pointer;
}
.tab-button.active {
  background: #d1d1d1;
}
#sort-wrap {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  padding: 10px 0;
}
#list-container {
  border: 1px #888 solid;
  align-items: flex-start;
  width: 100%;
}

#list-header-wrap {
  display: flex;
  flex-direction: row;
  margin-bottom: 5px;
}
#list-header-wrap .list-header {
  width: 50%;
  text-align: center;
  border-bottom: solid 1px #333;
  padding: 2px 0;
}
#list-header-wrap > div:first-child {
  border-right: solid 1px #333;
}

#list-body {
  max-height: 700px;
  height: 500px;
  overflow-y: scroll;
}

#list-body .list-item {
  display: flex;
  flex-direction: row;
  border-bottom: solid 1px #a0a0a0;
}
#list-body .list-item-left,
#list-body .list-item-right {
  width: calc(50%);
  padding: 5px;
}
#list-body .list-item-left {
  width: calc(50% + 19px);
}
#list-body .macro-item {
  border-bottom: solid 1px #a0a0a0;
}
#list-body .macro-item.selected {
  background-color: #d4d4d4;
}
#list-body .macro-item > * {
  padding: 5px;
}
#list-body .macro-item-toggle {
  font-weight: 500;
}
#list-body .macro-item-command {
  padding-left: 30px;
}
#footer {
  justify-content: space-between;
  width: 100%;
  font-style: italic;
  padding: 10px 0;
}
#macro-buttons {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 10px 0;
}
